*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.navside{
    background-color: aliceblue;
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    
}

.navside li {
margin:auto;
padding: 10px;
align-content: center;

}

header{
    background-color: chartreuse;
    margin-top: 0px;
    width: auto;
    
}

body{
    background-color: rgba(0, 0, 0, 0.8);
}

main{

    background-color: rgb(219, 191, 64);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(24, 0, 0);
}